<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:mybatis="http://www.mybatis.org/schema/mybatis"  
    xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans.xsd  
     http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd 
     http://www.mybatis.org/schema/mybatis  
     http://www.mybatis.org/schema/mybatis/mybatis-spring.xsd 
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd
	 http://www.springframework.org/schema/tx 
	 http://www.springframework.org/schema/tx/spring-tx.xsd 
     http://www.springframework.org/schema/mvc  
     http://www.springframework.org/schema/mvc/spring-mvc.xsd">   
    <context:component-scan base-package="com.tuniu" >
    	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>  
    
    <context:property-placeholder location="classpath*:jdbc.properties" ignore-unresolvable="true"/>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
       destroy-method="close">  
       <property name="driverClassName" value="${jdbc.driver}" />  
       <property name="url" value="${jdbc.url}" />  
       <property name="username" value="${jdbc.username}" />  
       <property name="password" value="${jdbc.password}" />  
    </bean> 
    <!--  
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
       <property name="dataSource" ref="dataSource" />  
       <property name="configLocation" value="classpath:mybatis-settting.xml" />
       <property name="mapperLocations" value="classpath:com/tuniu/**/dao/mapping/*.xml" />  
       <property name="typeAliasesPackage" value="com.tuniu.common.model , com.tuniu.common.dto ,com.tuniu.process.model,com.tuniu.process.dto,com.tuniu.business.model,com.tuniu.business.dto,com.tuniu.seckill.dto,com.tuniu.seckill.model" />           
    </bean>  
     -->
    <bean id="sqlSessionFactory" class="com.tuniu.extension.RegexSqlSessionFactoryBean">
       <property name="dataSource" ref="dataSource" />  
       <property name="configLocation" value="classpath:mybatis-settting.xml" />
       <property name="mapperLocations" value="classpath:com/tuniu/**/dao/mapping/*.xml" />  
       <property name="typeAliasesPackage" value="com.tuniu.**.model , com.tuniu.**.dto" />
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">      	
       <property name="basePackage" value="com.tuniu.**.dao"/>   
       <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>  
    </bean>  
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 配置基于注解的声明式事务，默认使用注解来管理事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>

	<!-- 拦截器方式配置事务 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="list*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="txPointcut" expression="execution(* com.tuniu..*Service.*(..))" />
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice" />
	</aop:config>
	<!-- <import resource="classpath*:log.xml"/> -->
</beans> 